@page "/cards/{id:int}"

@using KanbanAPI.Models
@using KanbanAPI.Services
@inject ICardRepository CardRepo

<PageTitle>Card</PageTitle>

@if(CardItem != null)
{
<h3>@CardItem.Title</h3>
<p>@CardItem.Description</p>
<p>@CardItem.Level</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Card? CardItem { get; set; }

    protected override async Task OnInitializedAsync()
    {
        CardItem = await Task.FromResult(CardRepo.Get(Id));
    }
}
