@page "/tasks/{id:int}"
@using KanbanWasm
@inject HttpClient TheClient

<h3>ShowCard</h3>

@if (CardItem != null)
{
    <h3>@CardItem.Title</h3>
    <p>@CardItem.Description</p>
    <p><strong>@CardItem.Level</strong></p>
    <p><small>@CardItem.Id</small></p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private RemoteCardDto? CardItem { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var url = $"http://localhost:5043/Cards/{Id}";
        CardItem = await TheClient.GetFromJsonAsync<RemoteCardDto>(url);
    }
}
